header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom right, #EF4765, #ff9350);
    cursor: pointer;
}